---
import Icon from '../icons/Icon.astro';
---

<section class="trust-bar reveal">
  <div class="trust-bar-item">
    <Icon name="check-circle" size={18} />
    <span>Ingen bindingstid</span>
  </div>
  <div class="trust-bar-item">
    <Icon name="gift" size={18} />
    <span>Alt inkludert i prisen</span>
  </div>
  <div class="trust-bar-item">
    <Icon name="bolt" size={18} />
    <span>Gratis demo først</span>
  </div>
  <div class="trust-bar-item">
    <Icon name="clock" size={18} />
    <span>Svar innen 24 timer</span>
  </div>
</section>
